@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body{
	margin: 0;
	padding: 0;
	background: url(1.gif);
	background-size: cover;
	font-family: 'Merriweather', serif;
}
.center {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url(1.jpg);
	background-size: cover;
	width: 400px;
	height: 400px;
	border: 8px solid transparent;
	object-fit: cover;
	border-radius: 50%;
}
h1{
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 12%;
	color: #FCAA2E;
	font-size: 4.8em;
	text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}
p{
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 3%;
	color: #fff;
	font-size: 1em;
	text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}